{% extends 'base.html' %}

{% block title %}Game : {{game_details.name}}{% endblock title %}

{% block menu %}
<li><a href="{% url subscription_details %}">Subscriptions</a></li>
<li><a href="{% url leagues %}">Leagues</a></li>
{% endblock menu %}

{% block content %}

<h1>{{game_details.name}}</h1>

<dl>
    <dt>Status</dt>
    <dd>{{game_details.status}}</dd>

    <dt>Score</dt>
    <dd>{{game_details.away_team.abr}} - {{game_details.away_team.score}}</dd>
    <dd>{{game_details.home_team.abr}} - {{game_details.home_team.score}}</dd>

    <!-- {{game_details}} -->
</dl>

<div class="lineup">
    <h2>Lineup</h2>
    <p>
        {{game_lineup}}
    </p>
</div>

<div class="recap">
    <h2>Recap</h2>
    <p>
        {{game_recap}}
    </p>
</div>

<div class="boxscore">
    <h2>Boxscore</h2>

    <table border="1">
        <thead></thead>
        <tbody>
            <tr>
                <td>{{game_details.away_team.abr}}</td>
                <td>{{ game_boxscore.away.score.linescore.1 }}</td>
                <td>{{ game_boxscore.away.score.linescore.2 }}</td>
                <td>{{ game_boxscore.away.score.linescore.3 }}</td>
                <td>{{ game_boxscore.away.score.linescore.4 }}</td>
                <td>{{ game_boxscore.away.score.score }}</td>
            </tr>
            <tr>
                <td>{{game_details.home_team.abr}}</td>
                <td>{{ game_boxscore.home.score.linescore.1 }}</td>
                <td>{{ game_boxscore.home.score.linescore.2 }}</td>
                <td>{{ game_boxscore.home.score.linescore.3 }}</td>
                <td>{{ game_boxscore.home.score.linescore.4 }}</td>
                <td>{{ game_boxscore.home.score.score }}</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>

    <p>
        {{game_boxscore}}
    </p>
</div>

{% endblock content %}
