{% extends 'base.html' %}

{% block title %}Leagues{% endblock title %}

{% block menu %}
<li class="active"><a href="{% url leagues %}">Leagues</a></li>
{% endblock menu %}

{% block content %}

<h1>Magical Leagues</h1>
<p>
<ul id="leagues">
{% for league in leagues %}
<li>
    {% with league.id as sub_key %}
    {% if subs.sub_key %}
    <button class="btn btn-primary unsubscribe" data-subscription-id="{{subs.sub_key}}" data-loading-text="Unsubscribing...">Unsubscribe</button>
    {% else %}
    <button class="btn btn-primary subscribe" data-league-id="{{league.id}}" data-loading-text="Subscribing...">Subscribe</button>
    {% endif %}
    {% endwith %}
    <a href="{% url upcoming_games league=league.name %}">{{league.name}}</a>
</li>
{% endfor %} 
</ul>
</p>

{% endblock content %}
