{% extends 'base.html' %}

{% block title %}Upcoming Games{% endblock title %}

{% block content %}

<h1>Games</h1>

<p>
<ul>
{% for game in games %}
<li>
    {% if game.sub %}
    <button class="btn btn-primary unsubscribe" data-subscription-id="{{game.sub}}" data-loading-text="Unsubscribing...">Unsubscribe</button>
    {% else %}
    <button class="btn btn-primary subscribe" data-game-id="{{game.id}}" data-league-id="{{league.id}}" data-loading-text="Subscribing...">Subscribe</button>
    {% endif %}
    <a href="{% url game_details league=league.id, game=game.id %}">{{game.name}}</a>
</li>
{% empty %}
<li>No upcoming events for {{league.name}} *<strong>sadface</strong>*</li>
{% endfor %} 
</ul>
</p>

{% endblock content %}
