<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css?[CACHE_BUSTER]" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-responsive.min.css?[CACHE_BUSTER]" />

  {% block custom_css %}{% endblock custom_css %}

  <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}css/style.less?[CACHE_BUSTER]" />
  <script type="text/javascript" src="{{STATIC_URL}}js/less-1.1.5.min.js?[CACHE_BUSTER]"></script>
  {% block custom_js %}{% endblock custom_js %}

  <style type="text/css">
      div[role="main"].container {
         padding-top:5em;
      }
  </style> 
</head>

<body> 
  {% block header_container %}
  <header>
    {% block header %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url slash %}">Something Magical</a>
          <div class="nav-collapse">
            <ul class="nav">
              {% block menu %}
              <li><a href="{% url leagues %}">Leagues</a></li>
              {% endblock menu %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% endblock header %}
  </header>
  {% endblock header_container %}

  {% block content_container %}
  <div role="main" class="container">
      {% block content %}
      {% endblock content %}
  </div>
  {% endblock content_container %}

  {% block footer_container %}
  <footer> 
    {% block footer %}
    {% endblock footer %}
  </footer>
  {% endblock footer_container %}

    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</div>

</body>
</html>
